.hacker-logo {
  color: #00ffcc;
  font-family: 'Courier New', Courier, monospace;
  font-size: 10px;
  margin-bottom: 20px;
  text-shadow: 0 0 2px #00ffcc;
  animation: flicker 2s infinite;
  white-space: pre-wrap;
}

@keyframes flicker {
  0% { opacity: 1; }
  95% { opacity: 0.9; }
  96% { opacity: 0.6; }
  97% { opacity: 0.2; }
  98% { opacity: 0.7; }
  99% { opacity: 0.9; }
  100% { opacity: 1; }
}
